html,body{
    min-height: 100vh;
}
#footer{
    display: block;
}
img.logo{
    filter:saturate(90%);
}

a.navbar-brand p {
    user-select: none;
    font-weight: 600;
    display: inline-block;
    transform: translateY(0.175em);
}
li.nav-item{
    user-select: none;
    transform: translateY(-0.175em);
}

a.nav-link:hover{
    cursor: pointer;
    text-shadow: 0px 1px 4px #00000080;
    transition: text-shadow 0.5s;
}

.navCart{
    transform: translate(-0.9em,-0.2em);
}

span.cartAmount{
    display: none;
    position: absolute;
    transform: translate(0.7em,0.4em);
}

span.createbutton{
    transform: translateY(0.175em);
}

.navCartImg{
    background: url("/assets/images/icons/cart.svg");
    transition: background 0.75s ease-in-out;
    transform: scale(2);
}

.navCartImg:hover{
    background: url("/assets/images/icons/cart-fill.svg");
    transition: background 0.2s ease-in-out;
}

.navUserDropdownImg{
    background: url("/assets/images/icons/person.svg");
    transition: background 0.75s ease-in-out;
    transform: scale(2);
}

.navUserDropdownImg:hover{
    background: url("/assets/images/icons/person-fill.svg");
    transition: background 0.2s ease-in-out;
}
.navSignupImg{
    background: url("/assets/images/icons/person-plus.svg");
    transition: background 0.75s ease-in-out;
    transform: scale(1.5);
}

.navSignupImg:hover{
    background: url("/assets/images/icons/person-plus-fill.svg");
    transition: background 0.2s ease-in-out;
}

@media (max-width: 270px){
    a.navbar-brand{
        font-size: 0;
    }
}